
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <form class="w-75 mx-auto p-4 mt-3 shadow" asp-action="KayitOl">
        <div class="form-group">

        </div>
    </form>
</body>
</html>
